  li {
        margin-bottom: 20px;
        color: rgb(75, 25, 156);
      }
      li button {
        font-size: 8px;
        margin-left: 20px;
        color: rgb(226, 17, 45);
      }
   div {
      color: rgb(75, 25, 156); 
   }   